{% extends 'base.html' %}

{% block title %}
    <title>
        选择服务
    </title>
{% endblock %}

{% block style %}
    <style>
        .chosebar{border-top: 1px solid gray; border-bottom: 2px solid orangered; margin-top: 10px; height: 30px;}
        .chosebar .bargroup{margin-left: 15%;}
        .chosebar .bargroup a{display: block; float: left; height: 30px; width: 10%;border: 1px solid lightgray;
            border-bottom: 1px solid orangered; text-align: center; line-height: 30px; }
        .chosebar .bargroup a:hover{background-color: orangered; cursor: pointer;}
        .customerChoose{margin-top: 5px; border: 1px solid lightgray;}
        .customerChoose table{display: block;}
        .customerChoose table tr td{width: 5%;}
        /* .clearf::before{content: '';} */
        .serviceInfo ul li{float: left; width: 20%; margin: 2%; display: block; border: 1px solid black;}
        .serviceInfo ul li div img{margin: 0 auto; display: block;}
        .serviceInfo ul li div p{overflow: hidden; text-indent: 2;}
        .serviceInfo ul li div span{text-align: center;}
        .serviceInfo ul li div a{display: block; width: 40%; margin-right: 10%; margin: 0 auto;
            color:black; background-color: green; text-align: center; padding: 1px;}
       .serviceInfo ul li div a:hover{border: 1px solid blue; cursor: pointer;}
    </style>
{% endblock %}
{% block content %}
   <div id="banner" class="container-fluid">
    <ul class="banner_list">
      <li style="background-image: url('../../static/img/service.jpeg');background-size: 100%; background-repeat: no-repeat;" class="active">
        <a href="#"></a>
      </li>
    </ul>
  </div>
<div class="chosebar container-fluid">
    <div class="bargroup clear">
        <a href="">月嫂</a>
        <a >租房</a>
        <a>等等</a>
    </div>
</div>
<div class="customerChoose container">
    <table>
        <tr>
            <td>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</td>
            <td><a href="[[url_for('service.homeservice')]]">全部</a></td>
            <td><a href="[[url_for('service.homeservice', serviceType='yuesao')]]">月嫂</a></td>
            <td><a href="[[url_for('service.homeservice', serviceType='xiaoshi')]]">保姆</a></td>
            <td><a href="[[url_for('service.homeservice', serviceType='baomu')]]">时间工</a></td>
            <td><a href="[[url_for('pageNotFound')]]">管家</a></td>
        </tr>
        <!-- <tr>
            <td>服务区域:</td>
            <td>
                <a>北京</a>
            </td>
            <td>
                <a>北京</a>
            </td>
            <td>
                <a>北京</a>
            </td>
            <td>
                <a>北京</a>
            </td>
        </tr> -->
        <tr>
            <td>家&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乡</td>
            <td></td>
            <td>北京</td>
            <td>北京</td>
            <td>北京</td>
            <td>北京</td>
            <td>北京</td>
            <td>北京</td>
        </tr>
        <tr>
            <td>工作时间</td>
            <td>一年</td>
            <td>两年</td>
            <td>三年</td>
            <td>更长</td>
        </tr>
    </table>
</div>
<div class="serviceInfo container">
<ul>
    {% for service in services %}
    <li>
        <div>
        <img src="http://[[avator]]/[[service.head_photo]]" title="" alt="" width="99%" height="150px">
        <div>
            <span>员工类型:
                {% if  service.serviceType == 1 %}
                月嫂
                {% elif  service.serviceType == 2 %}
                小时工
                {% elif  service.serviceType == 4 %}
                保姆
                {% endif %}
            </span>
        </div>
        <div>
            <span>优秀员工账号: [[service.lovelineworker.userAc]]</span>
        </div>
        <div>
            <span>状态: 空闲</span>
        </div>
        <div class="order">
            <a href="[[url_for('service.req', id=service.id)]]">预约</a>
        </div>
        </div>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
