{% extends 'base.html' %}

{% block title %}
    <title>我的信息</title>
{% endblock %}

{% block style %}
    <style>
        body{background-color: gray;}
        .Main{display: grid; grid-template-columns: repeat(12, 1fr);}
        .Main .leftBar{grid-column-start: 1; grid-column-end: 3;}
        .Main .leftBar ul{margin-top: 20px; width: 80%; margin: 0 auto; height: 400px;  background-color: lightskyblue;}
        .Main .leftBar ul li {width: 100%; height: 28px; text-align: center; margin-top: 10px;}
        .Main .leftBar ul li a{display: block; width: 97%; height: 98%; padding: 1px; background-color: lightseagreen;}
        .Main .leftBar ul li a:hover{border: 1px solid blue; cursor: pointer;}
        .Main .MainShow{grid-column-start: 4; grid-column-end: 12; margin-top: 5px;}
        .Main .activeBtn{margin-top: 10px;}
        .Main .activeBtn a{display: block; width: 20%; height: 28px;background-color: aqua;
            text-align: center; line-height: 28px; margin: 0 auto; padding: 1px;}
        .Main .activeBtn a:hover{border: 1px solid blue; cursor: pointer;}
        .Main .MainShow .addUser{width: 70%; margin: 0 auto;}
        /* .Main .MainShow{grid-column-start: 4; grid-column-end: 13; border: 1px solid lightcyan;} */
        .Main .MainShow .addUser{width: 70%; height: 980px;}
        .Main .MainShow .addUser form{margin: 100px auto;width: 40%;  z-index: 10;background-color: lightgreen;  margin: 0 auto; border-radius: 30px; border: 1px solid lightcoral; margin-top: 100px;}
        .Main .MainShow .addUser form .inputInfo{margin: 10px auto; width: 80%;}
        .Main .MainShow .addUser form button{display: block; margin: 0 auto; width: 30%;}
    </style>
{% endblock %}
{% block content %}
    <div class="Main">
        <div class="leftBar">
            <ul>
                <li></li>
                <li><a href="[[url_for('manage.userInfo')]]">我的信息</a></li>
                {% if user.level < 8 %}
                    <li><a href="[[url_for('user.index')]]">我的服务</a></li>
                {% else %}
                    <li><a href="[[url_for('manage.index')]]">管理服务</a></li>
                {% endif %}
                <li><a>资金流转</a></li>
                <li><a>投诉邮箱</a></li>
                <li><a>聊天室</a></li>
            </ul>
        </div>
        <div class="MainShow">
            <div class="addUser">
                <form method="POST">
                    <div class="inputInfo">
                        <label></label>
                        <input type="text" placeholder="account" name="account" id="account">
                    </div>
                    <div class="inputInfo">
                        <label></label>
                        <input type="text" placeholder="username" name="username" id="username">
                    </div>
                    <div class="inputInfo">
                        <label></label>
                        <input type="text" placeholder="password" name="password" id="password">
                    </div>
                    <div class="inputInfo">
                        <select name="level" id="userInfo">
                            <option value="WORKER">线下员工</option>
                            <option value="MANAGE_LOW">操作员</option>
                            {% if g.user.level == 64 %}
                            <option value="MANAGE_MID">经理</option>
                            <option value="MANAGE_HIG">总监</option>
                            <option value="ADMIN">ADMIN</option>
                            {% endif %}
                        </select>
                    </div>
                    <div>
                        <button type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
